services:
  web:
    build: apache
    ports:
      - 80:80
    volumes:
      - ./apache/tarefa1.conf:/etc/apache2/sites-enabled/test1.conf
      - ./apache/omeusitio.conf:/etc/apache2/sites-enabled/test2.conf
      - ./ivan.lan:/opt/web/ivan.lan
      - ./omeusitio.lan:/opt/web/omeusitio.lan

    networks:
      redeapache:
        aliases:
          - www.ivan.lan
          - ivan.lan
          - eq1.ivan.lan
          - www.omeusitio.lan
    develop:
      watch:
        - path: ./apache/test1.conf
          action: restart

  cliente:
    image: brunosct/debian12-cliente-firefox
    hostname: cliente
    networks:
      - redeapache
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

networks:
  redeapache: